.chat-container{
    width: 100%;
    height: 247px;
    /* border: 1px solid red; */
    top: 10px;
    position: relative;
}
.chat-header{
    width: 100%;
    height: 29px;
    border-bottom: 1px solid #222831;
    display: flex;
}
.chat-body{
    height: 310px;
    /* border: 1px solid; */
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-footer{
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 10px;
}
.chat-selector{

}
.selector-lang{
    /* display: inline-block; */
    list-style: none;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}
.selector-lang-li{
    display: inline-block;
    margin: 3px;
    font-weight: 600;
    color: #c1c1c1;
    width: 24px;
    /* border: 1px solid red; */
    cursor: pointer;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
    font-size: 14px;
    text-align: center;
    user-select: none;
}
.selector-lang-li:hover{
    color: #c3c3c3;
    font-weight: 600;
    background-color: #363f4c;
    text-align: center;
    border-radius: 3px;
    line-height: 19px;
}
.selector-lang-li-active{
    color: #c3c3c3;
    font-weight: 600;
    background-color: #5f547b;
    text-align: center;
    border-radius: 3px;
    line-height: 19px;
}
.online-user-show-chat{
    float: right;
    position: absolute;
    right: 0;
    color: #bcbcbe;
    font-weight: 600;
    top: 6px;
}
.span-user-online{
    display: inline-block;
}
.chat-user-container{
    width: 100%;
    min-height: 37px;
    margin-top: 6px;
    display: inline-flex;
    background-color: #222831;
    border-radius: 3px;
    position: relative;
}
.chat-user-avatar{
    margin-left: 6px;
    height: 30px;
    /* border: 1px solid red; */
}
.chat-username{
    position: relative;
    line-height: 32px;
    color: silver;
    width: 91px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid red; */
    font-size: 13px;
    /* height: 16px; */
    user-select: none;
}
.chat-user-message{
    position: relative;
    line-height: 18px;
    color: #a5a5a5;
    font-size: 13px;
    position: relative;
    position: relative;
    margin-top: 8px;
    width: 100%;
    text-indent: 86px;
    left: -81px;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
    user-select: none;
}
.chat-footer-container{
    display: flex;
    height: 39px;
    /* border: 1px solid red; */
}
.chat-message-box {
    /* display: flex; */
    width: 77%;
    height: 37px;
    background-color: #222831;
    border-radius: 3px;
    padding-left: 8px;
    color: #d2d2d2;
    right: 0px;
    position: relative;
}
.chat-message-btn{
    width: 20%;
    height: 38px;
    font-size: 16px;
    background-color: #0b1320;
    color: #a09f9f;
    border-radius: 2px;
    cursor: pointer;
    left: 7px;
    position: relative;
    user-select: none;
}
.chat-message-btn:hover{
    background-color: #272e38;
    background: -moz-linear-gradient(top, #63d19f 0%, #ae8ba2 100%);
    color: white;
    cursor: pointer;
}
.chat-user-avatar > img{
    /* width: 39px; */
    /* height: 39px; */
    /* border-radius: 32px; */
    width: 25px;
    height: 25px;
    border-radius: 44px;
    position: relative;
    top: 3px;
}