.content-coin-flip{
    background: rgba(43,50,87,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(43,50,87,1) 0%, rgba(21,24,40,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(43,50,87,1)), color-stop(100%, rgba(21,24,40,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(43,50,87,1) 0%, rgba(21,24,40,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(43,50,87,1) 0%, rgba(21,24,40,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(43,50,87,1) 0%, rgba(21,24,40,1) 100%);
    background: radial-gradient(ellipse at center, rgba(43,50,87,1) 0%, rgba(21,24,40,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3257', endColorstr='#151828', GradientType=1 );
    background-size: cover;
    min-height: 1000px;
    position: relative;
    top: -19px;
}
.flip_content{
    width: 90%;
    margin: auto;
    margin-top: 19px;
}
.flip_header{
    width: 100%;
    position: relative;
    height: 122px;
}
.coin_flip_header{
    width: auto;
    position: relative;
    display: inline-block;
    top: 44px;
    color: white;
    font-size: 27px;
    font-family: 'Exo 2',sans-serif;
    background: -webkit-linear-gradient(left, #ff0000, #54ff05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-style: bold;
}
.coin_flip_header_history{
    position: relative;
    display: inline-block;
    top: 40px;
    color: white;
    font-size: 19px;
    padding-left: 25px;
    font-family: 'Exo 2',sans-serif;
}
.coin_flip_right_content{
    width: 500px;
    float: right;
    height: 118px;
    position: relative;
}
.icon_roll{
    width: 62px;
    height: 62px;
    /* border: 1px solid red; */
    position: relative;
    background: url(/images/csgotower/heads.png) no-repeat;
    background-size: 100%;
    top: 31px;
    border-radius: 44px;
    background-position-x: 0px;
    display: inline-block;
    cursor:pointer;
}
.icon_csgo{
    width: 62px;
    height: 62px;
    /* border: 1px solid red; */
    position: relative;
    background: url(/images/csgotower/tails.png) no-repeat;
    background-size: 100%;
    top: 31px;
    border-radius: 44px;
    background-position-x: 0px;
    display: inline-block;
    margin-left: 5px;
    cursor:pointer;
}
.flip_icon_active{
    box-shadow: 0px 0px 12px 1px #76b558;
    cursor: pointer;

}
.coin_flip_input{
    width: 140px;

    position: relative;
    display: inline-block;
    top: 9px;
    margin-left: 18px;
    height: 57px;
}
.coin_flip_input_amount{
    width: 100%;
    color: white;
    font-size: 21px !important;
    background-color: #3a3959;
    /* padding-left: 13px; */
    text-align: center;
    display: block;
    width: 63%;
    padding: .969rem 1.5rem;
    font-size: .8125rem;
    line-height: 1.25;
    color: #fff;
    background-color: rgba(58, 163, 174, 0.69);
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 14px;
    top: 2px;
    position: relative;
    font-family: 'Exo 2',sans-serif;
}
.coin_flip_create_game{
    width: 178px;
    display: inline-block;
    position: relative;
    margin-left: 16px;
    height: 66px;
    top: 10px;
}
.coin_flip_button_create_game {
    -moz-box-shadow: 0px 11px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 11px 14px -7px #3e7327;
    box-shadow: 0px 11px 14px -7px #3e7327;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color: #77b55a;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b8a3c;
    line-height: 1.6;
    width: 200px;
    font-family: 'Exo 2',sans-serif;
    height: 52px;


}
.coin_flip_button_create_game:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    background-color:#72b352;
    font-family: 'Exo 2',sans-serif;
}
.coin_flip_button_create_game:active {
    position:relative;
    top:1px;
    font-family: 'Exo 2',sans-serif;
}
/*
.coin_flip_button_create_game{
    width: 100%;
    position: relative;
    height: 100%;
    !* background-color: #049404; *!
    position: relative;
    border-radius: .5rem;
    border: 0;
    cursor: pointer;
    transition: box-shadow 5ms,transform 5ms;
    background: #00c74d;
    color: #fff;
    box-shadow: inset 0 2px 0 #09d859,0 3px 0 #06983f!important;
}.coin_flip_button_create_game:hover{
     background: #00d653;
     color: #fff;
}.coin_flip_button_create_game:active{
      -webkit-transform: translateY(.1875rem);
      transform: translateY(.1875rem);
      box-shadow: inset 0 1px 0 #09d859,0 1px 0 #06983f!important;
}*/
.coin_flip_get_five_percent{

}
.flip_right_title{
    width: 300px;

    height: 38px;
    display: inline-block;
    float: right;
}
.coin_flip_text_five_percent{
    position: absolute;
    color: #828282b5;
    font-size: 16px;
    top: 144px;
    bottom: -24px;
    float: right;
    right: 22px;
    font-family: 'Exo 2',sans-serif;
}
.flip_title{
    width: 100%;

    height: 40px;
    margin-top: 27px;
}
.coin_flip_top_games{
    color: white;
    font-size: 20px;
    top: 9px;
    position: relative;
    display: inline-block;
}
.icon_top_games{

}
.coin_flip_txt{
    font-size: 16px;
    position: relative;
    display: inline-block;
    color: white;
    top: -5px;
}
.coin_flip_txt_value{
    /* display: none; */
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: white;
    margin-left: 5px;
    top: -5px;
}
.flip_coin_icon_coin{
    background: url(/images/csgotower/coins.png) no-repeat;
    position: absolute;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    margin-top: 12px;
    margin-left: 34px;
}
.coin_flip_count_amount{
    /* display: none; */
    position: relative;
    display: inline-block;
    top: -5px;
    font-size: 16px;
    color: white;
    margin-left: 60px;
}
.flip_content_full{
    width: 100%;
    position: relative;
}
.one_roll{
    width: 100%;
    height: 115px;
    margin-top: 10px;
    background-color: #00000042;
    position: relative;
    box-shadow: inset 0px 0px 0px 1px #307b8842;
    border-radius: 6px;
}
.first_child_state{
    width: 42%;

    position: relative;
    height: 100%;
    display: inline-block;
    opacity: 0.9;
}
.opacity_state_inactive {
    opacity: 0.8 !important;
}
.opacity_state_active {
    opacity: 1 !important;
}
.first_child_img{
    width: 100px;
    height: 100px;
    position: relative;

    margin-left: 14px;
    border-radius: 59px;
    position: relative;
    top: 8px;
    background-color: red;
}
.name_of_first_child{
    position: relative;
    color: white;
    top: 9px;
    width: 100%;
    /* margin-left: 11px; */
    margin: auto;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Exo 2',sans-serif;
}
.amount_of_first_child{
    position: relative;
    color: white;
    display: inline;
    top: 26px;
    left: 4px;
    font-family: 'Exo 2',sans-serif;
}
.flip_coin_icon_coin_next_first{

}
.shadow_coin_flip{
    opacity: 0.5;
}
.flip_coin_coin_next_second{
    width: 300px;
    margin: auto;
    text-align: center;
    height: 40px;
    position: absolute;
    top: 19px;
    /* border: 1px solid red; */
    text-align: center;
    margin-left: 117px;
    height: 75px;
    /* display: inline; */
}
.flip_coin_coin_next_first{
    width: 300px;
    margin: auto;
    text-align: center;
    height: 40px;
    position: absolute;
    top: 19px;
    /* border: 1px solid red; */
    text-align: center;
    margin-left: 117px;
    height: 75px;
    /* display: inline; */
}
.img_flip_coin_icon{
    width: 16px;
    display: inline-block;
    position: relative;
    top: 28px;
}
.flip_roll_change{
    width: 15%;

    position: relative;
    height: 100%;
    display: inline-block;
    float: right;
    margin: auto;
    text-align: center;
}
.join_flip_roll_button{
    width: 100px;
    font-family: 'Exo 2',sans-serif;
    margin: auto;
    text-align: center;
    position: relative;
    border-radius: .5rem;
    border: 0;
    cursor: pointer;
    transition: box-shadow 5ms,transform 5ms;
    color: #fff;
    box-shadow: inset 0 2px 0 rgba(212, 198, 14, 0.82),0 3px 0 rgba(212, 198, 14, 0.82)!important;
    top: 28px;
    /* background: rgba(43,50,87,1); */
    background: -moz-radial-gradient(center, ellipse cover, rgba(43,50,87,1) 0%, rgba(21,24,40,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(43,50,87,1)), color-stop(100%, rgba(21,24,40,1)));
    /* background: -webkit-radial-gradient(center, ellipse cover, rgba(43,50,87,1) 0%, rgba(21,24,40,1) 100%); */
    background: -o-radial-gradient(center, ellipse cover, rgba(43,50,87,1) 0%, rgba(21,24,40,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(43,50,87,1) 0%, rgba(21,24,40,1) 100%);
    /* background: radial-gradient(ellipse at center, rgba(43,50,87,1) 0%, rgba(21,24,40,1) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3257', endColorstr='#151828', GradientType=1 );
    background: rgba(241,231,103,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: radial-gradient(ellipse at center, rgba(212, 198, 14, 0.82) 0%, rgb(210, 143, 39) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}.join_flip_roll_button:hover{
     background: radial-gradient(ellipse at center, rgba(212, 198, 14, 0.82) 0%, rgb(232, 157, 43) 100%);
     color: #fff;
}.join_flip_roll_button:active{
      -webkit-transform: translateY(.1875rem);
      transform: translateY(.1875rem);
      box-shadow: inset 0 2px 0 rgba(175, 163, 12, 0.82),0 3px 0 rgba(198, 184, 14, 0.82) !important;
}
.second_child_state{
    width: 42%;

    position: relative;
    height: 100%;
    display: inline-block;
    float: right;
    opacity: 0.9;
}
.second_child_img{
    width: 100px;
    height: 100px;
    position: relative;

    /* margin-left: -14px; */
    border-radius: 59px;
    position: relative;
    top: 6px;
    background-color: red;
    float: right;
    margin-right: 16px;
}
.name_of_second_child{
    position: relative;
    color: white;
    top: -57px;
    width: 100%;
    margin-left: 11px;
    margin: auto;
    text-align: center;
    /* left: -26px; */
    display: inline-block;
    position: relative;
    color: white;
    top: 9px;
    width: 100%;
    /* margin-left: 11px; */
    margin: auto;
    text-align: center;
    /* left: 18px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Exo 2',sans-serif;
}
.amount_of_second_child{
    position: relative;
    color: white;
    display: inline;
    top: 26px;
    left: 3px;
}
.coin_flip{
    display: none;
    position: absolute;
    left: 46%;
    top: 43%;
}
/*Animate flip coin*/
#f1_container {
    position: relative;
    margin: 10px auto;
    width: 80px;
    height: 80px;
    z-index: 1;
}
#f1_container {
    perspective: 1000;
}
#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 4.0s cubic-bezier(0, 0, 0.1, 1.07);
}
#f1_container:hover #f1_card {

}
.win_roll{
    transform: rotateY(1620deg);
    border-radius: 44px;
}
.number-animate{
    color: white;
    font-size: 71px;
    position: relative;
    top: -51px;
    display: none;
}
.win_csgo{
    transform: rotateY(1440deg);
    border-radius: 44px;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    /* padding: 10px; */
    color: white;
    text-align: center;
}
.coin_rotate{
    width: 89px;
    border-radius: 44px;
}
