body {
    width: 100%;
}
.new-header{
    /*width: 1268px;*/
    width: 100%;
    height: 40px;
    /* position: relative; */
    /* border: 1px solid red; */
    margin: auto;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
    background-color: #0B1320;
}
.new-header .navbar {
    min-height: 40px;
    margin: 0;
}
.new-header > .navbar-default {
    background: transparent;
    border: 0;
}
.new-header .navbar-default .navbar-collapse {
    padding: 0;
}

.new-header ul{
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;
}
.new-header ul li{
    display: inline-block;
    /* border: 1px solid red; */
    /* width: 103px; */
    align-items: center;
    margin: 0 5px;
    line-height: 40px;
    font-size: 14px;
    user-select: none;
}
.new-header ul li a{
    color: #c3c3c3;
    text-decoration: none;
    transition: color 175ms;
    user-select: none;
}
.new-header ul li a:hover{
    color: #ffffff;
    user-select: none;
}
.new-header ul li i{

}
.new-header ul li a i svg{
    width: 20px;
    color: #c2c2c2;
    transition: color 175ms;
    position: relative;
    top: 5px;
    left: 4px;
    cursor: pointer;
}
.new-header ul li a i svg:hover{
    color: #ffffff;
}

.new-header-leaderboard a{
    color: #d42a2a !important;
    font-weight: 800;
    transition: color 175ms;
}
.new-header-leaderboard a:hover{
    color: #f82c2c !important;
    font-weight: 800;
}

.header-nav-right{
    float: right;
    position: absolute;
    right: 0;
}

.other-li{
    width: 135px !important;
    box-shadow: 1px 1px 2px 0 #00000030 !important;
    height: 32px !important;
    margin: 11px 10px 0px 0 !important;
    line-height: 5px;
    font-size: 12px;
    transition: background-color 175ms;
}
.other-li:hover{
    transition: background-color 175ms;
}
.other-li:hover{
    transition: background-color 175ms;
    background-color: #7D7799 !important;
}

.withdraw-only{
    background-color: #c1c102 !important;
}
.withdraw-only  a{
    color: #000000 !important;
}
.withdraw-only:hover{
    transition: background-color 175ms;
    /* background-color: #FE944F !important; */
    background-color: #f1f101 !important;
}
.withdraw-only:active{
    transition: background-color 175ms;
    background-color: #FE944F !important;
}

#header {
    display: block;
}
#header .top-nav {
    display: none;
}
#header .header-nav li a {
    height: 100%;
}

.user-profile-setting .username {
}

@media (max-width: 991px) {
    #header {
        border-bottom: 1px solid #0B1320;
    }
    #header > .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    #header > .container > .navbar-header{
        min-height: 54px;
    }
    .navbar-right.login-btn {
        display: none !important;
    }
    .new-header {
        height: 0;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
        border: 0;
        box-shadow: none;
        background-color: #222831;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: 0;
        padding: 0;
    }
    .navbar-default button.navbar-toggle {
        display: block !important;
        height: auto;
        width: auto;
        margin: 10px 0 10px 0;
        border: 0;
    }
    #header .top-nav {
        display: block;
    }
    .top-nav,
    .header-nav,
    .header-nav {
        width: 100%;
        padding: 0;
        margin: 0 !important;
    }
    .top-nav li,
    .header-nav li,
    .header-nav li {
        display: block;
        width: 100% !important;
        min-height: 44px;
        text-align: left;
        border: 0;
        border-radius: 0;
        background-color: #222831;
        margin: 0 !important;
        box-shadow: none;
        border-bottom: 1px solid #21252b;
    }
    .top-nav li a,
    .header-nav li a,
    .header-nav li a {
        height: 100% !important;
        display: block !important;
        padding: 15px 35px 15px 35px;
        font-size: 14px;
        line-height: 1;
    }
    .header-nav li.withdraw-only {
        background: transparent !important;
        box-shadow: none !important;
    }
    .header-nav li.withdraw-only a {
        color: #c1c102 !important;
    }

    .header-login-btn.desktop {
        display: none !important;
    }
    .header-login-btn.mobile {
        display: inline-block !important;
        right: 65px;
        top: -2px;
    }
    .header-balance.mobile {
        display: inline-block !important;
        position: absolute;
        right: 65px;
        top: 4px;
    }
}

@media (max-width: 768px) {
    .navbar-default button.navbar-toggle {
        margin-right: 10px;
    }
}
@media (max-width: 460px) {
    .header-login-btn {
        width: 110px;
    }
    .header-login-btn span {
        display: none !important;
    }
    .header-login-btn span.mobile {
        display: block !important;
    }
}
@media (max-width: 420px) {
    .navbar-default button.navbar-toggle {
        margin-right: 10px;
    }
    .header-balance.mobile {
        right: 55px;
    }
}