.modal-once-free{
    top: 33% !important;
}
.modal-dialog-once-free{

}
.modal-content-once-free{
    background: #222831 !important;
    box-shadow: 0 0 10px 1px black !important;
    /* width: 605px; */
    width: 78%;
    left: 10%;
}
.modal-header-once-free{
    border-bottom: 1px solid #404040 !important;
    height: 44px;
}
.close-once-free{

}
.modal-title-once-free{
    color: #efcb67;
    text-align: center;
    font-size: 16px;
    /* font-family: Arial; */
}
.modal-body-once-free{

}
.modal-input-once-free{
    width: 100%;
    height: 32px;
    text-align: center;
    background-color: #25252f;
    border: 1px solid #4e4e4e;
    margin: auto;
    color: #ababab;
}
.modal-once-free-btn-default{
    height: 36px;
    border: none !important;
    color: #c3c3c3 !important;
    background-color: #222831 !important;
    /* width: 218px !important; */
    width: 48% !important;
    font-family: Arial;
}
.modal-once-free-btn-primary{
    height: 36px;
    border: 1px solid #d6d64b !important;
    color: #e8e8e8 !important;
    background-color: #222831 !important;
    width: 48% !important;
    font-family: Arial;
}
.modal-once-free-p{
    text-align: center;
    color: #9e9e9e;
    font-size: 14px;
    font-family: Arial;
}
.modal-footer-once-free{
    border-top: 1px solid #3e3e3e !important;
    border-top-width: 1px !important;
    border-top-style: solid !important;
    border-top-color: rgb(62, 62, 62) !important;
    height: 60px;
}
.modal-once-free-btn-primary:hover{
    background-color: #a99a00 !important;
}
.modal-once-free-btn-default:hover{
    background-color: grey !important;
}
.modal-once-free-coin-item{
    background: url(/images/csgotower/coins.png) no-repeat;
    position: relative;
    width: 15px;
    height: 16px;
    top: -1px;
    background-size: 13px 13px;
    padding-top: 0 !important;
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-right: 0.1em; */
    margin-left: 4px;
}