.roulette-tower-container{
    position: relative;
    min-height: 300px;
    display: flex;
    margin: auto;
    /*width: 1268px;*/
    top: 0;
    padding: 151px 0 0 0;
}
.roulette-tower-container-col-1{
    width: 32%;
    height: 385px;
    margin: auto;
    position: relative;
}
.roulette-container-set{
    position: relative;
    min-height: 300px;
    display: block;
    margin: auto;
    /*width: 1268px;*/
    margin-top: 51px;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
}
.roulette-container-set-item{
    /*width: 24%;*/
    min-height: 450px;
    margin: auto;

}
.tower-roulette-select-box{
    width: 98%;
    height: 60px;
    /* border: 1px solid red; */
    margin: auto;
    border-radius: 30px;
    font-size: 30px;
    line-height: 53px !important;
    border: 3px solid !important;
    user-select: none;
}
.ladder-right-roulette {

}
.ladder-right-roulette .nav-pills > li,
.ladder-right-roulette .nav-pills > li.active {
    box-shadow: none !important;
}
.ladder-right-roulette .nav-pills > li.active > a {
    color: silver;
    font-weight: 600;
    font-size: 16px;
}
.ladder-right-roulette .nav-pills > li > a {
    color: silver;
    font-weight: 600;
    font-size: 16px;
}
.ladder-right-roulette .nav-pills > li.active > a,
.ladder-right-roulette .nav-pills > li.active > a:hover,
.ladder-right-roulette .nav-pills > li.active > a:focus {
    background: #222831 !important;
}
.ladder-right-roulette #chat,
.ladder-right-roulette #stats {
    box-shadow: none;
    background: #0B1320 !important;
}
.roulette-container {
    background: #222831;
    /*box-shadow: 0 23px 73px rgba(15, 15, 28, 0.31);*/
    border-radius: 13px;
    margin: -35px 0 0 0;
    padding: 50px 0 0 0;
}
.roulette-wrapper {
    max-width: 346px;
    margin: 0 auto;
}
.roulette-wrapper img {
    width: 100%;
}
.roulette-wrapper.run-up img {
    opacity: 0.1;
}
.ladder-left {

}
.ladder-left-foor button.roulette-play {
    width: 80%;
    margin: 0 auto;
}

.ladder-left-roulette .ladder-right-stats {
    /*height: 100px;*/
}
.ladder-left-roulette .ladder-right-usrs {
    max-height: 340px;
    overflow-y: scroll;
}
.ladder-left-roulette .panel,
.ladder-left-roulette .panel-default > .panel-heading + .panel-collapse > .panel-body,
.ladder-left-roulette .panel-heading {
    padding: 0;
    background: transparent;
    border: 0 !important;
}
.ladder-left-roulette .panel-default > .panel-heading .ladder-right-stats-top {
    color: silver;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}
.ladder-left-roulette .panel-default > .panel-heading .ladder-right-stats-top > div {
    display: inline-block;
    width: 30%;
    height: inherit;
    float: left;
}
.ladder-left-roulette .panel-default > .panel-heading .ladder-right-stats-top .bet {
    font-size: 36px;
    padding: 25px 0;
}
.ladder-left-roulette .panel-default > .panel-heading .ladder-right-stats-top .amount {
    color: silver;
    padding: 33px 0;
}
.ladder-left-roulette .panel-default > .panel-heading .ladder-right-stats-top .count {
    font-weight: 400;
    padding: 33px 0;
}
.ladder-left-roulette .panel-default > .panel-heading .ladder-right-stats-top .count > .total {
    font-weight: 600;
}
.ladder-left-roulette .ladder-right-usrs .ladder-right-usr-login {
    width: 47%;
}
.ladder-left-roulette .ladder-right-usrs .ladder-right-usr-profit {
    width: 40%;
    color: silver;
}
.ladder-left-roulette .bets-stats-wrapper {
    padding: 0 5px;
}
.ladder-left-roulette .bets-stats-wrapper .bets-stats {
    display: inline-block;
    width: 24%;
    text-align: center;
    color: #f5cc9b;
    font-size: 12px;
}
.ladder-left-roulette .bets-stats-wrapper .bets-stats .count {
    font-weight: 600;
}
.ladder-left-roulette .bets-coins-wrapper {
    padding: 0 5px;
}
.ladder-left-roulette .bets-coins-wrapper .bets-coins {
    display: inline-block;
    width: 24%;
    text-align: center;
    color: #d8bc61;
    font-size: 11px;
    font-weight: 600;
}
.ladder-left-roulette .bets-coins-wrapper .bets-coins i {
    font-size: 10px;
}
.ladder-left-roulette .ladder-right-usrstitle-top span:nth-child(1) {
    width: 18.2%;
    left: -15px;
    position: relative;
}
.ladder-left-roulette .ladder-right-usrstitle-top span:nth-child(2) {
     width: 36.6%;
     left: 9px;
     position: relative;
 }
.ladder-left-roulette .ladder-right-usrstitle-top span:nth-child(3) {
      width: 31.8%;
      position: relative;
      left: 22px;
      padding-left: 23px;
  }

.ladder-middle-roulette .timer-wrapper {
    position: absolute;
    margin: 135px 0 0 0;
    width: 100%;
    text-align: center;
    opacity: 1;
}
.ladder-middle-roulette .timer-wrapper h6 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
}
.ladder-middle-roulette .timer {

}
.ladder-middle-roulette .timer .digits {
    color: #ffffff;
    font-size: 55px;
    font-weight: 600;
    opacity: 1;
}
.ladder-middle-roulette .previous-rolls {
    display: block;
    height: 48px;
    padding: 0 0px 0 0;
    color: #c5c5c5;
    /*background: #1F1E27;*/
}
.ladder-middle-roulette .previous-rolls .badge {
    color: #0b1320;
}
.ladder-middle-roulette .previous-rolls .badge-2x {
    background: #fdfe00;
}
.ladder-middle-roulette .previous-rolls .badge-3x {
    background: #f59809;
}
.ladder-middle-roulette .previous-rolls .badge-5x {
    background: #32b02c;
}
.ladder-middle-roulette .previous-rolls .badge-50x {
    background: #f20107;
}

.two-x{
    /*color: #fdfe00;*/
    /*color: #0B1320;
    font-weight: 600;
    text-align: center;
    line-height: 49px;*/
    /*background: #fdfe00;
    background-image: -webkit-linear-gradient(top, #fdfe00, #BFBF30);
    background-image: -moz-linear-gradient(top, #fdfe00, #BFBF30);
    background-image: -ms-linear-gradient(top, #fdfe00, #BFBF30);
    background-image: -o-linear-gradient(top, #fdfe00, #BFBF30);
    background-image: linear-gradient(to bottom, #fdfe00, #BFBF30);
    border: 2px solid #fdfe00;*/
    /*cursor: pointer;
    user-select: none;*/
    /*box-shadow: 1px 2px 4px 1px #0000003d;*/
    /*transition: background-color 175ms;
    -webkit-box-shadow: 0px 5px 6px #514266;
    -moz-box-shadow: 0px 5px 6px #514266;
    box-shadow: 0px 5px 6px #514266;*/
}
.three-x{
    /*color: #f59809;*/
    /*color: #0B1320;
    font-weight: 600;
    text-align: center;
    line-height: 49px;*/
    /*background: #f59809;
    background-image: -webkit-linear-gradient(top, #f59809, #B88333);
    background-image: -moz-linear-gradient(top, #f59809, #B88333);
    background-image: -ms-linear-gradient(top, #f59809, #B88333);
    background-image: -o-linear-gradient(top, #f59809, #B88333);
    background-image: linear-gradient(to bottom, #f59809, #B88333);
    border: 2px solid #f59809;*/
    /*cursor: pointer;*/
    /*box-shadow: 1px 2px 4px 1px #0000003d;*/
    /*transition: background-color 175ms;
    -webkit-box-shadow: 0px 5px 6px #514266;
    -moz-box-shadow: 0px 5px 6px #514266;
    box-shadow: 0px 5px 6px #514266;*/

}
.five-x{
    /*color: #0cea00;*/
    /*color: #0B1320;
    font-weight: 600;
    text-align: center;
    line-height: 49px;*/
    /*background: #0cea00;
    background-image: -webkit-linear-gradient(top, #0cea00, #32B02C);
    background-image: -moz-linear-gradient(top, #0cea00, #32B02C);
    background-image: -ms-linear-gradient(top, #0cea00, #32B02C);
    background-image: -o-linear-gradient(top, #0cea00, #32B02C);
    background-image: linear-gradient(to bottom, #0cea00, #32B02C);
    border: 2px solid #0cea00;*/
    /*cursor: pointer;*/
    /*box-shadow: 1px 2px 4px 1px #0000003d;*/
    /*transition: background-color 175ms;
    -webkit-box-shadow: 0px 5px 6px #514266;
    -moz-box-shadow: 0px 5px 6px #514266;
    box-shadow: 0px 5px 6px #514266;*/
}
.fifty-x{
    /*color: #f20106;*/
    /*color: #0B1320;
    font-weight: 600;
    text-align: center;
    line-height: 49px;*/
    /*background: #F20107;
    background-image: -webkit-linear-gradient(top, #F20107, #B52E31);
    background-image: -moz-linear-gradient(top, #F20107, #B52E31);
    background-image: -ms-linear-gradient(top, #F20107, #B52E31);
    background-image: -o-linear-gradient(top, #F20107, #B52E31);
    background-image: linear-gradient(to bottom, #F20107, #B52E31);
    border: 2px solid #f20106;*/
    /*cursor: pointer;*/
    /*box-shadow: 1px 2px 4px 1px #0000003d;*/
    /*transition: background-color 175ms;
    -webkit-box-shadow: 0px 5px 6px #514266;
    -moz-box-shadow: 0px 5px 6px #514266;
    box-shadow: 0px 5px 6px #514266;*/
}
.users-played-container{
    display: inline-flex;
    width: 100%;
    height: 35px;
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid #c8c24663;
    margin-top: 3px;
}
/** 2x */
.ladder-left-foor button.play-2x {
    display: block;
    background: #fdfe00;
    line-height: 50px;
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    background: -webkit-linear-gradient(180deg,#fdfe00 0%,#bfbf30 100%);
    background: -moz-linear-gradient(180deg,#fdfe00 0%,#bfbf30 100%);
    background: -ms-linear-gradient(180deg,#fdfe00 0%,#bfbf30 100%);
    background: -o-linear-gradient(180deg,#fdfe00 0%,#bfbf30 100%);
    background: linear-gradient(180deg,#fdfe00 0%,#bfbf30 100%);
    border-radius: 13px;
    /*border: 0.9px solid #fdfe00;*/
    border-width: 0.9px 0.9px 0.9px 0.9px;
    padding: 4px 18px 9px 18px;
    box-shadow: 0px 2px 0px rgba(74.90196078431373%,74.90196078431373%,18.823529411764707%,0.6),0px 1px 2px rgba(0%,0%,0%,0.5);
    color: #0b1320;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    text-shadow: 0px 1px 0px rgba(100%,100%,100%,0.5)
}
.tower-roulette-icon-users-2x{
    color: #dadada;
    left: 14px;
    position: relative;
    top: 1px;
    font-weight: 600;
}
.icon-of-users-2x > svg{
    width: 13px;
    position: relative;
    left: 0px;
    top: 5px;
}
.tower-roulette-icon-of-summ-2x{
    float: right;
    right: 6px;
    position: absolute;
    color: #ffffff;
    font-weight: 600;
}
.icon-of-summ-2x > svg{
    width: 22px;
    position: relative;
    left: -15px;
    top: 7px;
    padding-left: 10px;
    color: #c8c246;
}
/**3x*/
.ladder-left-foor button.play-3x {
    display: block;
    line-height: 50px;
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    background: -webkit-linear-gradient(180deg,#f59809 0%,#b88333 100%);
    background: -moz-linear-gradient(180deg,#f59809 0%,#b88333 100%);
    background: -ms-linear-gradient(180deg,#f59809 0%,#b88333 100%);
    background: -o-linear-gradient(180deg,#f59809 0%,#b88333 100%);
    background: linear-gradient(180deg,#f59809 0%,#b88333 100%);
    border-radius: 13px;
    /*border: 0.9px solid #f59809;*/
    border-width: 0.9px 0.9px 0.9px 0.9px;
    padding: 4px 18px 9px 18px;
    box-shadow: 0px 2px 0px rgba(72.15686274509804%,51.37254901960784%,20.000000000000007%,0.6),0px 1px 2px rgba(0%,0%,0%,0.5);
    color: #0b1320;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    text-shadow: 0px 1px 0px rgba(100%,100%,100%,0.5)
}
.tower-roulette-icon-users-3x{
    color: #dadada;
    left: 14px;
    position: relative;
    top: 1px;
    font-weight: 600;
}
.icon-of-users-3x > svg{
    width: 13px;
    position: relative;
    left: 0px;
    top: 5px;
}
.tower-roulette-icon-of-summ-3x{
    float: right;
    right: 0;
    position: absolute;
    color: #f38f5d;
    font-weight: 600;
}
.icon-of-summ-3x > svg{
    width: 22px;
    position: relative;
    left: -15px;
    top: 7px;
    padding-left: 10px;
    color: #c8c246;
}
/*5x*/
.ladder-left-foor button.play-5x {
    display: block;
    line-height: 50px;
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    background: -webkit-linear-gradient(180deg,#32b02c 0%,#32b02c 100%);
    background: -moz-linear-gradient(180deg,#32b02c 0%,#32b02c 100%);
    background: -ms-linear-gradient(180deg,#32b02c 0%,#32b02c 100%);
    background: -o-linear-gradient(180deg,#32b02c 0%,#32b02c 100%);
    background: linear-gradient(180deg,#32b02c 0%,#32b02c 100%);
    border-radius: 13px;
    /*border: 0.9px solid #0cea00;*/
    border-width: 0.9px 0.9px 0.9px 0.9px;
    padding: 4px 18px 9px 18px;
    box-shadow: 0px 2px 0px rgba(19.607843137254928%,69.01960784313725%,17.25490196078432%,0.6),0px 1px 2px rgba(0%,0%,0%,0.5);
    color: #0b1320;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    text-shadow: 0px 1px 0px rgba(100%,100%,100%,0.5)
}
.tower-roulette-icon-users-5x{
    color: #dadada;
    left: 14px;
    position: relative;
    top: 1px;
    font-weight: 600;
}
.icon-of-users-5x > svg{
    width: 13px;
    position: relative;
    left: 0px;
    top: 5px;
}
.tower-roulette-icon-of-summ-5x{
    float: right;
    right: 0;
    position: absolute;
    color: #67dba0;
    font-weight: 600;
}
.icon-of-summ-5x > svg{
    width: 22px;
    position: relative;
    left: -15px;
    top: 7px;
    padding-left: 10px;
    color: #c8c246;
}
/**50x*/
.ladder-left-foor button.play-50x {
    display: block;
    line-height: 50px;
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    background-image: -webkit-linear-gradient(180deg,#f20107 0%,#b52e31 100%);
    background-image: -moz-linear-gradient(180deg,#f20107 0%,#b52e31 100%);
    background-image: -ms-linear-gradient(180deg,#f20107 0%,#b52e31 100%);
    background-image: -o-linear-gradient(180deg,#f20107 0%,#b52e31 100%);
    background: linear-gradient(180deg,#f20107 0%,#b52e31 100%);
    border-radius: 13px;
    /*border: 0.9px solid #f20107;*/
    border-width: 0.9px 0.9px 0.9px 0.9px;
    padding: 4px 10px 9px 10px;
    box-shadow: 0px 2px 0px rgba(70.98039215686275%,18.039215686274513%,19.215686274509803%,0.6),0px 1px 2px rgba(0%,0%,0%,0.5);
    color: #0b1320;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    text-shadow: 0px 1px 0px rgba(100%,100%,100%,0.5)
}
.tower-roulette-icon-users-50x{
    color: #dadada;
    left: 14px;
    position: relative;
    top: 1px;
    font-weight: 600;
}
.icon-of-users-50x > svg{
    width: 13px;
    position: relative;
    left: 0px;
    top: 5px;
}
.tower-roulette-icon-of-summ-50x{
    float: right;
    right: 0;
    position: absolute;
    color: #e28fbc;
    font-weight: 600;
}
.icon-of-summ-50x > svg{
    width: 22px;
    position: relative;
    left: -15px;
    top: 7px;
    padding-left: 10px;
    color: #c8c246;
}
/*------------*/
.group-users-played-2x{
    list-style: none;
    padding: 0;
    margin: 5px;
    justify-content: space-between;
    transition: all 400ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transform: translateZ(0) rotate(0.01deg);
}
.users-played-2x{
    justify-content: space-between;
    transition: all 400ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transform: translateZ(0) rotate(0.01deg);
}
.container-of-users-playes-2x{
    position: relative;
    display: inline-flex;
    width: 100%;
    font-size: 14px;
}
.img-played-users-2x{
    display: inline-block;
    position: relative;
}
.img-played-users-2x > img{
    width: 22px;
    border-radius: 22px;
    position: relative;
    margin: 2px;
    top: 4px;
}
.username-of-users-2x{
    display: inline-block;
    top: 0px;
    position: relative;
    color: #dcdcdc;
    margin-left: 8px;
    height: 38px;
    line-height: 36px;
    width: 184px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}
.summ-add-users-2x{
    position: relative;
    color: #dcdcdc;
    font-weight: 600;
    width: auto;
    line-height: 36px;
    font-size: 14px;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
    left: 40px;
    user-select: none;
}
.icon-of-coin-users-2x{
    position: relative;
    right: 0;
    display:none;
    user-select: none;
}
.icon-of-coin-users-2x > svg{
    width: 21px;
    position: relative;
    top: 8px;
    color: #f5cba1;
    padding-left: 10px;
    user-select: none;
}

/*3x*/
.group-users-played-3x{
    list-style: none;
    padding: 0;
    margin: 5px;
    justify-content: space-between;
    transition: all 400ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transform: translateZ(0) rotate(0.01deg);
}
.users-played-3x{

}
.container-of-users-playes-3x{
    position: relative;
    display: inline-flex;
    width: 100%;
    font-size: 14px;
    user-select: none;
}
.img-played-users-3x{
    display: inline-block;
    position: relative;
    user-select: none;
}
.img-played-users-3x > img{
    width: 22px;
    border-radius: 22px;
    position: relative;
    margin: 2px;
    top: 4px;
    user-select: none;
}
.username-of-users-3x{
    display: inline-block;
    top: 0px;
    position: relative;
    color: #dcdcdc;
    margin-left: 8px;
    height: 38px;
    line-height: 36px;
    width: 184px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}
.summ-add-users-3x{
    position: relative;
    color: #dcdcdc;
    font-weight: 600;
    width: auto;
    line-height: 36px;
    font-size: 14px;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
    left: 40px;
    user-select: none;
}
.icon-of-coin-users-3x{
    position: relative;
    right: 0;
    display:none;
    user-select: none;
}
.icon-of-coin-users-3x > svg{
    width: 21px;
    position: relative;
    top: 8px;
    color: #f38f5d;
    padding-left: 10px;
    user-select: none;
}

/**5x */
.group-users-played-5x{
    list-style: none;
    padding: 0;
    margin: 5px;
    justify-content: space-between;
    transition: all 400ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transform: translateZ(0) rotate(0.01deg);
    user-select: none;
}
.container-of-users-playes-5x{
    position: relative;
    display: inline-flex;
    width: 100%;
    font-size: 14px;
    user-select: none;
}
.img-played-users-5x{
    display: inline-block;
    position: relative;
    user-select: none;
}
.img-played-users-5x > img{
    width: 22px;
    border-radius: 22px;
    position: relative;
    margin: 2px;
    top: 4px;
    user-select: none;
}
.username-of-users-5x{
    display: inline-block;
    top: 0px;
    position: relative;
    color: #dcdcdc;
    margin-left: 8px;
    height: 38px;
    line-height: 36px;
    width: 184px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}
.summ-add-users-5x{
    position: relative;
    color: #dcdcdc;
    font-weight: 600;
    width: auto;
    line-height: 36px;
    font-size: 14px;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
    left: 40px;
    user-select: none;
}
.icon-of-coin-users-5x{
    position: relative;
    right: 0;
    display:none;
    user-select: none;
}
.icon-of-coin-users-5x > svg{
    width: 21px;
    position: relative;
    top: 8px;
    color: #66db9f;
    padding-left: 10px;
    user-select: none;
}
/**50x*/
.group-users-played-50x{
    list-style: none;
    padding: 0;
    margin: 5px;
    font-size: 14px;
    justify-content: space-between;
    transition: all 400ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transform: translateZ(0) rotate(0.01deg);
    user-select: none;
}
.container-of-users-playes-50x{
    position: relative;
    display: inline-flex;
    width: 100%;
    user-select: none;
}
.img-played-users-50x{
    display: inline-block;
    position: relative;
    user-select: none;
}
.img-played-users-50x > img{
    width: 22px;
    border-radius: 22px;
    position: relative;
    margin: 2px;
    top: 4px;
    user-select: none;
}
.username-of-users-50x{
    display: inline-block;
    top: 0px;
    position: relative;
    color: #dcdcdc;
    margin-left: 8px;
    height: 38px;
    line-height: 36px;
    width: 184px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}
.summ-add-users-50x{
    position: relative;
    color: #dcdcdc;
    font-weight: 600;
    width: auto;
    line-height: 36px;
    font-size: 14px;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
    left: 40px;
    user-select: none;
}
.icon-of-coin-users-50x{
    position: relative;
    right: 0;
    display:none;
    user-select: none;
}
.icon-of-coin-users-50x > svg{
    width: 21px;
    position: relative;
    top: 8px;
    color: #e28ebc;
    padding-left: 10px;
    user-select: none;
}
.bg-roulette-monkey{
    position: relative;
    z-index: 2;
    max-width: 340px;
    display: block;
    margin: -137px auto 0 auto;
}
.container-for-button-roullete{
    width: 100%;
    /* border: 1px solid red; */
}
.button-wanted-youtubers{
    width: 100%;
    background: -moz-linear-gradient(top, #63d19f 0%, #ae8ba2 100%);
    background: -webkit-linear-gradient(top, #63d19f 0%,#ae8ba2 100%);
    background: linear-gradient(to bottom, #63d19f 0%,#ae8ba2 100%);
    border-radius: 3px;
    height: 58px;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
    font-size: 20px;
}
.all-summ-roullete{
    display: flex;
    border-bottom: 2px solid #222831;
    margin-top: 7px;
    padding-bottom: 0px;
}
.icon-all-summ{

}
.icon-of-users-2x{

}
.all-summ-text{
    color: #c8c246;
    position: relative;
    top: -3px;
    left: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
    user-select: none;
}
.btn-plus{
    font-size: 13px;
    color: #8c8c8c;
    height: 36px;
    border-radius: 2px;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
    width: 15%;
    text-align: center;
    user-select: none;
}
.btn-plus:hover{
    background-color: #272e38;
    background: -moz-linear-gradient(top, #63d19f 0%, #ae8ba2 100%);
    color: white;
}
.roullete-btn-container{
    margin-top: 13px;
    display: flex;
}
.btn-clear{
    /* border: 1px solid #c1c10142; */
    width: 19%;
    margin: 1px;
}
.btn-plus-point-zero-one{

}
.btn-plus-point-ten{

}
.btn-plus-one{

}
.btn-plus-ten{

}
.btn-plus-hundred{

}
.btn-plus-thousand{

}
.btn-plus-devided-one{

}
.btn-plus-multy-two{

}
.btn-plus-max{
    /* border: 1px solid red; */
    width: 19%;
    margin: 1px;
}
.roullete-input-container{
    display: flex;
    margin-top: 13px;
}
.roullete-input{
    width: 60%;
    background-color: #222831;
    height: 38px;
    color: #a5a5a5;
    font-size: 17px;
    font-weight: 600;
    padding-left: 12px;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
    border-radius: 3px;
    /* border: 1px solid #777700; */
}
.winner-line-container{
    margin-top: 13px;
}
.winner-type-2x{
    width: 96%;
    border-bottom: 2px solid #BFBF30;
    border-radius: 50px;
    margin-bottom: 9px;
    transition: transform 0.5s, opacity 0.5s;
}
.winner-type-3x{
    width: 76%;
    border-bottom: 2px solid #B88333;
    border-radius: 50px;
    margin-bottom: 9px;
    transition: transform 0.5s, opacity 0.5s;
}
.winner-type-5x{
    width: 59%;
    border-bottom: 2px solid #32B02C;
    border-radius: 50px;
    margin-bottom: 9px;
    transition: transform 0.5s, opacity 0.5s;
}
.winner-type-50x{
    width: 45%;
    border-bottom: 2px solid #B52E31;
    border-radius: 50px;
    margin-bottom: 9px;
    transition: transform 0.5s, opacity 0.5s;
}
.roullete-provably-fair{
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
}
.roullete-current-hash-text{
    color: #c1c1c1;
    font-size: 12px;
    position: relative;
    top: 8px;
}
.roullete-current-hash{
    color: #c3c3c3;
    font-size: 13px;
}
.icon-of-all-summ-roullete > svg{
    width: 18px;
    color: #c8c246;
}
.tower-roulette-timer{

}
.roulette-timer-container.fifty-x{
    position: absolute;
    top: 58%;
    z-index: 1;
    left: 43%;
    color: #ffffff;
    font-size: 33px;
    letter-spacing: 0px;
    text-align: center;
    width: 104px;
    height: 40px;
    font-family: "HurmeGeometricSans2", "Lato", sans-serif;
}
.two-x:hover{
    background-color: #f5cba021;
}
.two-x:active{
    position: relative;
    top: 1px;
    user-select: none;
    box-shadow: 0px 0px 1px 0px #f5cba0;
    background-color: #f5cba000;
}
.three-x:hover{
    background-color: #f38f5d30;
}
.three-x:active{
    position: relative;
    top: 1px;
    user-select: none;
    box-shadow: 0px 0px 1px 0px #f5cba0;
    background-color: #f5cba000;
}
.five-x:hover{
    background-color: #67dba033;
}
.five-x:active{
    position: relative;
    top: 1px;
    user-select: none;
    box-shadow: 0px 0px 1px 0px #f5cba0;
    background-color: #f5cba000;
}
.fifty-x:hover{
    background-color: #d25e9b36;
}
.fifty-x:active{
    position: relative;
    top: 1px;
    user-select: none;
    box-shadow: 0px 0px 1px 0px #f5cba0;
    background-color: #f5cba000;
}
.icon-of-users-text-2x{

}
.two-x-shadow-win{
    box-shadow: inset 0px 0px 20px 4px #f5cba0;
    transition: background 190ms, box-shadow 175ms;
}
.three-x-shadow-win{
    box-shadow: inset 0px 0px 20px 4px #f38f5d;
    transition: background 190ms, box-shadow 175ms;
}
.five-x-shadow-win{
    box-shadow: inset 0px 0px 20px 4px #66db9f;
    transition: background 190ms, box-shadow 175ms;
}
.fifty-x-shadow-win{
    box-shadow: inset 0px 0px 20px 4px #e28ebc;
    transition: background 190ms, box-shadow 175ms;
}