.container-spider-jackpot{
    width: 95%;
    border: 1px solid red;
    margin: auto;
    position: relative;
    top: 22px;
}
.left-container-spider-jackpot{
    width: 1000px;
    border: 1px solid green;
    margin: auto;
    position: relative;
}
.jackpot-header{
    width: 100%;
    height: 57px;
    border: 1px solid white;
}
.jackpot-header-number_game{
    width: 200px;
    border: 1px solid red;
    height: 55px;
    float: left;
    display: inline-block;
}
.jackpot-header-text-game{
    color: white;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

.spider-jackpot-history-game{
    width: 154px;
    float: right;
    border: 1px solid yellow;
    height: 44px;
    position: relative;
    top: 7px;
    right: 17px;
    font-size: 16px;
}
.jackpot-content-roulette{

}
.jackpot-content-roulette-header{

}
.jackpot-progress-bar{

}
.jackpot-header-test-or{

}
.text-or{

}
.jackpot-timer{

}
.second-information-jackpot-container{

}
.jackpot-count-enter-item{

}
.text-counter-of-item-entered{

}
.text-counter-of-item-value{

}
.text-counter-of-items{

}
.minimum-set-item-info{

}
.jackpot-count-enter-item-chance{

}
.text-counter-of-item-entered-second{

}
.text-counter-of-item-value-second{

}
.jackpot-count-enter-item-start{

}
.jackpot-btn-add-items{

}
.jackpot-selected-users{

}
.jackpot-container-users{

}
.jackpot-user-avatar{

}
.jackpot-user-profit{

}
.jackpot-user-profit_percent{

}
.jackpot-user-profit-color{

}
.jackpot-selected-users-items{

}
.jackpot-header-users{

}
.jackpot-content-items-user-left{

}
.jackpot-user-avatar{

}
.jackpot-username-users{

}
.jackpot-content-items-user-right{

}
.jackpot-enter-summ-users-dollar{

}
.jackpot-enter-summ-users-symbol-dollar{

}
.jackpot-enter-summ-users-percent-chance{

}
.jackpot-enter-summ-users-percent-symbol{

}
.jackpot-color-right{

}
.jackpot-container-entered-items{

}
.jackpot-div-items{

}
.jackpot-item-image{

}
.jackpot-price-of-item-entered{

}
.jackpot-price-of-item-entered-symbol{

}
.right-container-spider-jackpot{

}