.page-admin {
    background: #141414 url(/images/version2/background_.png) repeat 0 0;
}

.icon-admin {
    background: url(/images/csgotower/logo.png) no-repeat;
    width: 250px;
    height: 78px;
    margin: auto;
}

.custom_btn_save_bal {
    width: 372px;
    height: 55px;
    display: inline-block;
    background: #D82956;
    background-size: 372px 55px;
    border: none;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 13px;
}
.custom_btn_save_bal:active {
    width: 372px;
    height: 55px;
    display: inline-block;
    background: transparent url("/images/modals/btn_save_bal.png") no-repeat;
    background-size: 372px 55px;
    border: none;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 13px;
    box-shadow: 0 12px 21px -8px #D82956;
}
.custom_btn_save_bal:hover {
    width: 372px;
    height: 55px;
    display: inline-block;
    background-size: 372px 55px;
    border: none;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 13px;
    box-shadow: 0 12px 21px -8px #D82956
}

#login-admin {
    width: 414px;
    background-color: #23233E;
    border-color: rgb(82, 82, 138);
}

#login-admin{
    color: #ffffff;
}
