.error{
    color: #F44336;
}
.panel-products{
    overflow: auto;
    max-height:1000px;
}
.product-item{
    padding:0;
    position: relative;
}
.product-checker{
    position:absolute;
    top:0;right:0
}
.product-desc{
    color:#fff;
    padding:5px;
    height:60px;
}
.product-class-temp{
    height:40px;
}
table.case-products tr{
    color: #fff;
}
table.case-products .checker span{
    color:#fff;
}

.navigation>li.active>a, .navigation>li.active>a:focus, .navigation>li.active>a:hover{
    background-color: #D82956;
}
.container_max_price{
    width:300px;
    display:inline-block;

}
.container_min_price{
    width:300px;
    display:inline-block;

}.container_quality_purchase{
     width: 300px;
     display: inline-block;
     height: 390px;
     position: relative;
     /* top: -96px; */

}
.container_rarity_purchase{
    width:300px;
    display:inline-block;
    height: 190px
}
.select_item_quality{
    width: 141px;
    height: 27px;
    float: right;
    position: relative;
    top: 0px;
    border: 2px solid #2e89a7;
    border-radius: 5px;
}
.select_item_quality:hover{
    width: 141px;
    height: 27px;
    float: right;
    position: relative;
    top: 0px;
    border: 2px solid #2e89a7;
    background-color: #363854;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.all_item_quality{
    display: none;
    width: 141px;
    /* height: 27px; */

    /* float: right; */
    /* position: relative; */
    top: 27px;
    position: absolute;
    /* right: -157px; */
    margin-left: 156px;
    z-index: 10;
}
.all_item_type{
    display: none;
    width: 141px;
    /* height: 27px; */

    /* float: right; */
    /* position: relative; */
    top: 27px;
    position: absolute;
    /* right: -157px; */
    margin-left: 156px;
    z-index: 10;
}
.item_quality{
    margin: 2px;
    border: 1px solid #ccc8c8;
    border-radius: 5px;
}
.item_quality:hover{
    margin: 2px;
    border: 1px solid #ccc8c8;
    border-radius: 5px;
    background-color: #363854;
    color: white;
    cursor: pointer;
}
.selected_items_quality{
    display: inline-block;
    position: absolute;
    width: 152px;
    /* height: 36px; */
    border: 1px solid rgba(222, 220, 220, 0);
    margin-top: 0px;

}
.quality_selected_items{
    display: inline-block;
    width: 100px;
    height: 22px;
    font-size: 11px;
    line-height: 1.5;
    /* border: 1px solid green; */
    border: 1px solid #d4c5c5;
}
.csgo_quality_selected_items{
    display: inline-block;
    width: 100px;
    height: 33px;
    font-size: 11px;
    line-height: 1.5;
    /* border: 1px solid green; */
    border: 1px solid #d4c5c5;
}
.delete_quality_items{
    position: relative;
    width: 15px;
    height: 15px;
    float: right;
    color: #0b0d30;
}
.delete_quality_items:hover{
    position: relative;
    width: 15px;
    height: 15px;
    float: right;
    color: #121653;
    cursor: pointer;
}
.container_product_select{
    width: 1280px;
    height:auto;
}
.dota_product_not_selected{
    width:1277px;
    height:630px;
    display: inline-block;
}
.dota_product_selected{
    width:1277px;
    max-height: 630px;
    display: inline-block;
    position: relative;
    overflow-y: scroll;
    overflow-x:hidden;

}
.purchase_product{
    width: 110px;
    height: 117px;
    display: inline-block;
    margin: 8px;

    background-color: rgb(6, 17, 47);
}
.csgo_purchase_product{
    width: 110px;
    height: 132px;
    display: inline-block;
    margin: 8px;

    background-color: rgb(6, 17, 47);
}
.csgo_purchase_product_edit{
    width: 110px;
    height: 132px;
    display: inline-block;
    margin: 8px;
    margin-top: 16px;
    background-color: rgb(6, 17, 47);
}.csgo_purchase_product_edit:hover{
     width: 110px;
     height: 132px;
     display: inline-block;
     margin: 8px;
     margin-top: 16px;
     background-color: rgb(6, 17, 47);
     cursor: pointer;
}
.csgo_purchase_product:hover{
    width: 110px;
    height: 132px;
    display: inline-block;
    margin: 8px;

    background-color: rgb(6, 17, 47);
    cursor: pointer;
}
.csgo_purchase_product_edit:active{
    width: 110px;
    height: 132px;
    display: inline-block;
    margin: 8px;
    background-color: rgb(6, 17, 47);
    margin-top: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 2px #d82956;
}
.csgo_purchase_product:active{
    width: 110px;
    height: 132px;
    display: inline-block;
    margin: 8px;
    background-color: rgb(6, 17, 47);
    /* border: 2px solid rgba(234, 0, 0, 0.37); */
    cursor: pointer;
    box-shadow: 0px 0px 1px 2px #d82956;
}
.purchase_product_selected{
    width: 174px;
    height: 93px;
    display: inline-block;
    margin: 2px;
}
.csgo_purchase_product_selected{
    width: 174px;
    height: 110px;
    display: inline-block;
    margin: 2px;
    border: 1px solid #a7a3a3;
}
.csgo_purchase_product_selected_edit{
    width: 129px;
    height: 147px;
    display: inline-block;
    margin: 5px;
    border: 1px solid rgba(167, 163, 163, 0.37);
}
.image_product_purchase{
    width: 90px;
    height: auto;
    /* position: relative; */
    /* top: 161px; */
    text-align: center;
    margin: auto;
    /* left: 8px; */
    position: absolute;
    margin-top: 36px;
    margin-left: 9px;
}
.image_product_purchase_csgo{
    width: 90px;
    height: auto;
    /* position: relative; */
    /* top: 161px; */
    text-align: center;
    margin: auto;
    /* left: 8px; */
    position: absolute;
    margin-top: 9px;
    margin-left: 9px;
}
.image_product_purchase_csgo_edit{
    width: 90px;
    height: auto;
    /* position: relative; */
    top: 27px;
    text-align: center;
    margin: auto;
    /* left: 8px; */
    position: absolute;
    margin-top: 9px;
    margin-left: 9px;
}
.image_product_purchase_dota_edit{
    width: 90px;
    height: auto;
    /* position: relative; */
    top: 27px;
    text-align: center;
    margin: auto;
    /* left: 8px; */
    position: absolute;
    margin-top: 9px;
    margin-left: 19px;
}
.name_product_purchase{
    font-size: 10px;
    line-height: 1;
    position: absolute;
    width: 100px;
    color: white;

}
.name_product_purchase_edit{
    font-size: 10px;
    line-height: 1.5;
    position: absolute;
    width: 100px;
    color: white;
    font-weight: 800;

}
.name_product_purchase_stattrak_edit{
    font-size: 13px;
    line-height: 1.5;
    position: relative;
    width: 100px;
    color: white;
    font-weight: 800;

}
.quality_product_purchase{
    font-size: 10px;
    line-height: 1;
    width: 100px;
    color: #ccd64c;
    position: relative;
    top: 24px;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    font-family: verdana;


}
.quality_product_purchase_dota{
    font-size: 10px;
    line-height: 1;
    width: 100px;
    color: #ccd64c;
    position: relative;
    top: 120px;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    font-family: verdana;
    left:5px;

}
.price_product_purchase{
    font-size: 11px;
    position: relative;
    top: 98px;
    text-align: center;
    background-color: rgba(37, 37, 73, 0.9);
    color: #e8325c;
}
.short_product_purchase{
    font-size: 11px;
    position: absolute;
    /* top: 64px; */
    text-align: center;
    /* background-color: rgba(37, 37, 73, 0.9); */
    color: #ffffff;
    margin-top: 65px;
    /* margin-left: 19px; */
}

 .csgo_price_product_purchase{
    font-size: 11px;
    position: relative;
    top: 114px;
    text-align: center;
    background-color: rgba(37, 37, 73, 0.9);
    color: #e8325c;
}
.name_product_purchase_selected{
    font-size: 12px;
    line-height: 1;
    position: absolute;
    width: 163px;
    font-weight: 800;

}
.name_product_purchase_selected_dota{
    font-size: 12px;
    line-height: 1;
    position: absolute;
    width: 163px;
    font-weight: 800;
    width: 129px;

}
.quality_product_purchase_selected_edit{
    font-size: 12px;
    line-height: 1;
    /* position: absolute; */
    width: 163px;
    font-weight: 800;
    position: relative;
    top: 30px;
    left: 20px;
    color: #7d7d04;

}
.quality_product_purchase_selected_edit_dota{
    font-size: 12px;
    line-height: 1;
    /* position: absolute; */
    width: 163px;
    font-weight: 800;
    position: relative;
    top: 30px;
    left: 34px;
    color: #7d7d04;

}
.price_product_purchase_selected{
    font-size: 15px;
    position: relative;
    top: 23px;
    text-align: center;
    left: 45px;
    color: #ccc029;
    font-weight: 800;
}
.pubg_product_purchase_selected{
    font-size: 15px;
    position: relative;
    top: 0px;
    text-align: center;
    left: 45px;
    color: #ccc029;
    font-weight: 800;
}
.description_product_purchase_selected{
   /* font-size: 12px; */
    /* position: absolute; */
position: relative;
    top: 52px;
    /* text-align: center; */
    /* left: 5px; */
}
.description_product_purchase_selected_edit{
    font-size: 12px;
    /* position: absolute; */
    position: relative;
    top: -13px;
    /* text-align: center; */
    /* left: 5px; */
}
.input_purchase_count{
    width: 55px;
    height: 31px;
    /* position: absolute; */
    /* margin-top: 37px; */
    position: relative;
    float: right;
    top: -13px;
    right: 8px;
}
.input_purchase_count_edit{
    width: 68px;
    height: 31px;
    /* position: absolute; */
    /* margin-top: 37px; */
    position: relative;
    /* float: right; */
    top: 54px;
    right: -30px;
    text-align: center;
    margin: auto;
}
.input_purchase_count_edit_dota{
    width: 68px;
    height: 31px;
    /* position: absolute; */
    /* margin-top: 37px; */
    position: relative;
    /* float: right; */
    top: 90px;
    right: -30px;
    text-align: center;
    margin: auto;
}
.delete_selected_purchase{
    width: 17px;
    height: 17px;
    position: relative;
    float: right;
    top: -63px;
    left: 45px;
    text-align: center;
    line-height: 1.3;
    color: #a80000;
    font-weight: 800;

}
.delete_selected_purchase_edit{
    width: 17px;
    height: 17px;
    position: relative;
    float: right;
    top: -51px;
    left: -1px;
    text-align: center;
    line-height: 1.3;
    color: #a80000;
    font-weight: 800;

}
.delete_selected_purchase_edit:hover{
    width: 17px;
    height: 17px;
    position: relative;
    float: right;
    top: -51px;
    left: -1px;
    text-align: center;
    line-height: 1.3;
    color: #a80000;
    font-weight: 800;
    cursor: pointer;

}.delete_selected_purchase_edit_dota{
    width: 17px;
    height: 17px;
    position: relative;
    float: right;
    top: -24px;
    left: -1px;
    text-align: center;
    line-height: 1.3;
    color: #a80000;
    font-weight: 800;

}
.delete_selected_purchase_edit_dota:hover{
    width: 17px;
    height: 17px;
    position: relative;
    float: right;
    top: -24px;
    left: -1px;
    text-align: center;
    line-height: 1.3;
    color: #a80000;
    font-weight: 800;
    cursor: pointer;

}
.delete_selected_purchase:hover{
    width: 17px;
    height: 17px;
    position: relative;
    float: right;
    top: -63px;
    left: 45px;
    text-align: center;
    line-height: 1.3;
    color: red;
    font-weight: 800;
    cursor: pointer;

}
.container_for_label{
    width: 91px;
    display: inline-block;
    position: relative;
    float: right;
}
.container_for_input{
    width: 124px;
}
.container_for_margin{
    width: 217px;
    display: inline-block;
    border: 1px solid #d4c5c5;
    position: relative;
    top: -246px;
}
.pubg_container{
    width: 217px;
    display: inline-block;
    border: 1px solid #d4c5c5;
    position: relative;
    top: 0;
}
.input_price{
    width: 98px;
    height: 34px;
    margin: 4px;

}
.input_price_label{
    width: 98px;
    height: 34px;
    margin: 8px;
    font-size: 10px;

}
.pagination_button_purchase{
    width: 100%;
    margin: auto;
    text-align: center;
}
.pagination_button_purchase_edit{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 19px;
}
.custom_btn{
    width: 145px;
    position: relative;
    top: -373px;
    left: 77px;

}
.custom_btn_pubg{
    width: 145px;
    position: relative;
    top: 0px;
    left: 0px;

}.custom_btn_edit_price{
    width: 145px;
    position: relative;


}
.fix-menu-panel {
    position: fixed;
    z-index: 8;
    border: 1px black solid;
    width: 1643px;
    background-color: white;
    padding: 20px 0 20px 20px;
    top: 0;
}

.fix-menu-panel p, .fix-menu-panel span {
    display: inline-block;
}

.fix-panel-div {
    display: inline-block;
    margin-right: 30px;
}

.navbar-inverse {
    z-index: 10;
}
.jGrowl{
    margin: 10px;
}
.jGrowl-notification{
    opacity: 1;
//margin: 30px;
    padding: 15px;
    width: 200px;
    position: relative;
}
.jGrowl-notification .jGrowl-header{
    font-size: 1em;
    text-transform: uppercase;
    padding: 0 0 5px;
}
.jGrowl-notification .jGrowl-header i{
    position: absolute;
    left: 20px;
}
.jGrowl-notification.bg-danger,
.jGrowl-notification.bg-success{
    border-radius: 20px;
    padding-left: 40px;
}
.jGrowl-notification.bg-danger{
    box-shadow: 0 0 10px 0 #ee4b43;
    background: #ee4b43;
}
.jGrowl-notification.bg-danger .jGrowl-header i{
    color: #fff;
}
.jGrowl-notification.bg-success{
    box-shadow: 0 0 15px 0 #65ba4f;
    background: #65ba4f;
}
.jGrowl-notification.bg-success .jGrowl-header i{
    color: #fff;
}
.jGrowl-close{
    font-size: 2em !important;
    background: transparent !important;
    box-shadow: none !important;
    font-weight: normal !important;
    height: auto !important;
    position: absolute;
    right: 5px;
    top: 5px;
}

.jGrowl-message{
    color: rgba(255, 255, 255, 0.8);
}

.jGrowl-header img{
    position: absolute;
    left: 15px;
    top: 10px;
}
.container_product_select{
    background-color: #1a1a33;
}
.container_product_select{
    background-color: #1a1a33;
    height:801px;
}
.loading_purchase{
    display: none;
    width: 33px;
    height: 33px;
    position: relative;
    top: -475px;
    left: 565px;
}
.rubl_symbol{
    width: 17px;
    height: 17px;
    position: relative;
    top: -39px;
    float: right;
    left: 71px;
}
.custom_search_input{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}