.mil-spec{
    background: linear-gradient(to bottom, #2c366e 0%, #3f50be 100%);
}
.restricted{
    background: linear-gradient(to bottom, #4b2b70 0%, #7339bd 100%);
}
.classified{
    background: linear-gradient(to bottom, #6d2166 0%, #bb22b6 100%);
}
.covert{
    background: linear-gradient(to bottom, #78282b 0%, #d43c39 100%);
}
.knifes{
    background: linear-gradient(to bottom, #977f1e 0%, #ddb401 100%);
}
.common{
    background: linear-gradient(to bottom, #647b91 0%, #85a1bc 100%);
}
.uncommon{
    background: linear-gradient(to bottom, #305f8d 0%, #4380bc 100%);
}
.extraordinary{
    background: linear-gradient(to bottom, #977f1e 0%, #ddb401 100%);
}
.chip{
    background: linear-gradient(to bottom, #a52249 0%, #D82956 100%);
}
.pubg_admin_row_product_case{
    background: linear-gradient(to bottom, #eb4b4b 0%, #eb4b4b 100%);
}
.img-wrapper{
    height: 85px;
}
span.descr{
    font-size: 10px;
}